    {{!-- <h1> Empleados</h1> --}}
    <h1>{{ titulo }}</h1>
    <p >
        <div class="container">
            <h3><a href="/empleados/create">Crear Empleado</a></h3>
            <h1>Lista de Empleados</h1>
            {{#if empleados }}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo</th>
                            <th>Celular</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{# each empleados }}
                        <tr>
                            <td><a href="/empleados/show/{{ _id }}">{{ codigo }}</a></td>
                            <td>{{ nombre }}</td>
                            <td>{{ apellido }}</td>
                            <td>{{ correo }}</td>
                            <td>{{ celular }}</td>
                            <td>{{ estado }}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{~^~}}
                <div>Empleados no encontrados.</div>
            {{/if}}
            
        </div>
    </p>
